/* Formas */
.boton{
	color: #FFFFFF;
	text-decoration: none;
	/*Transformar texto a mayusculas*/
	text-transform: uppercase;
	background-color: #FFB400;
	/*Shorthand*/
	padding: 20px 30px;
	font-weight: 400;
	border-bottom: 6px solid #E49100;
	border-radius: 5px;
	/*Compatibilidad con navegadores*/
	-webkit-border-radius: 5px;
}