/* Layout */
header,footer{
	background-color: #282828;
	position: fixed;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	color: #C3C1C1;
}

header img{
	width: 250px;
	display: block;
}

header{
	top: 0;
}
footer{
	bottom: 0;
}

.layout_a{
	color: #C3C1C1;
	/* Transicion */
	transition: all 5s linear;
}

.layout_a:hover{
	text-decoration: underline;
	color: #FFF;
}

img{
	width: 100%;
}