/* Layout */
header, footer {
  background-color: #282828;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  color: #C3C1C1; }

header {
  top: 0; }
  header img {
    width: 250px;
    display: block; }

footer {
  bottom: 0; }

.layout_a {
  color: #C3C1C1;
  /* Transicion */
  transition: all 5s linear; }
  .layout_a:hover {
    text-decoration: underline;
    color: #FFF;
    background-color: red;
    border: 1px solid blue;
    font-size: 20px; }

img {
  width: 100%; }
